{% extends 'generic/_base.html' %}
{% load i18n %}
{% block title %}{% trans "Change your PIN" %}{% endblock %}
{% block content %}
<div class="row"><div class="col-12 col-md-8 col-lg-5">
  {% if expired %}
    <div class="alert alert-warning"><div>{% trans "Your PIN has expired. Please choose a new one to continue." %}</div></div>
  {% endif %}
  <div class="alert alert-info"><div>{% blocktrans with n=settings.pin_length %}The new PIN must have <strong>{{ n }} digits</strong>.{% endblocktrans %}</div></div>
  {% url 'plugins:netbox_user_pin:my_pin' as cancel_url %}
  {% trans "Change PIN" as submit %}{% include 'netbox_user_pin/inc/pin_form.html' with submit_label=submit %}
</div></div>
{% endblock %}
