{% extends 'generic/_base.html' %}
{% load i18n %}
{% block title %}<i class="mdi mdi-lock"></i> {% if suspended %}{% trans "PIN suspended" %}{% else %}{% trans "PIN not permitted" %}{% endif %}{% endblock %}
{% block content %}
<div class="row"><div class="col-12 col-md-8 col-lg-5">
  <div class="alert alert-warning"><div>
    {% if suspended %}
      {% trans "Your PIN was suspended by an administrator, so protected areas are not available. Contact your administrator." %}
    {% else %}
      {% trans "You are not permitted to use a PIN, so this protected area is not available to you. Ask an administrator to allow PIN use for your account." %}
    {% endif %}
  </div></div>
</div></div>
{% endblock %}
