{% extends 'generic/_base.html' %}
{% load i18n %}
{% block title %}{% trans "Set your PIN" %}{% endblock %}
{% block content %}
<div class="row"><div class="col-12 col-md-8 col-lg-5">
  <div class="alert alert-info"><div>{% blocktrans with n=settings.pin_length %}Choose a personal PIN of <strong>{{ n }} digits</strong>. It protects sensitive areas of NetBox.{% endblocktrans %}
    {% if settings.block_weak_pins %}{% trans "Repeated digits, sequences and simple patterns are not allowed." %}{% endif %}
    {% trans "Nobody – not even an administrator – can read your PIN; an administrator can only reset it." %}</div></div>
  {% url 'plugins:netbox_user_pin:my_pin' as cancel_url %}
  {% trans "Set PIN" as submit %}{% include 'netbox_user_pin/inc/pin_form.html' with submit_label=submit %}
</div></div>
{% endblock %}
