{% extends 'generic/_base.html' %}
{% block title %}<i class="mdi mdi-lock"></i> Enter your PIN{% endblock %}
{% block content %}
<div class="row"><div class="col-12 col-md-8 col-lg-4">
  {% if locked_until %}
    <div class="alert alert-danger"><div>Too many failed attempts. Try again after {{ locked_until }} or ask an administrator.</div></div>
  {% else %}
    <p class="text-secondary">This area is protected. Enter your personal PIN to continue.</p>
  {% endif %}
  {% include 'netbox_user_pin/inc/pin_form.html' with submit_label="Unlock" %}
  <p class="mt-3 small text-secondary">Forgot your PIN? Ask an administrator to reset it.</p>
</div></div>
{% endblock %}
